// Navbar
.navbar {
  .nav-item {
    display: flex;
    align-items: center;
  }
  .nav-link {
    text-align: center;
  }
}

.btn-primary {
    color: #FFFFFF !important;
}

.sbc-contact {
    background: linear-gradient(90deg, #E2F5FE 0.29%, #E5F9F8 40.05%, #FFFFFF 100.00%);
}
